<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midgar - Iniciar Sesión</title>
    <link rel="stylesheet" href="/Style/inicioSecion.css">
</head>
<body>
    <div class="login-container">
        <div class="logo-container">
            <img src="/Imagenes/FlorDeLis.jpeg" alt="Scout Logo" class="logo">
        </div>
        
        <div class="login-form-container">
            <h1 class="form-title">Midgar</h1>
            <form>
                <div class="input-group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit" class="login-button"><a href="/InicioAdm.html">Ingresar</a></button>

                <a href="./CambioContrasena.html" class="forgot-password">¿Has olvidado la contraseña?</a>

                <button href="./Registro.html" class="create-account-button"><a href="./Registro.html">Crear nueva Cuenta</a></button>
            </form>
        </div>
    </div>
</body>
</html>
