<main id="fondo">
    <div class="container;">
        <div id="circulo">
            <p>MIDGAR</p>
        </div>
    </div>
    <div class="botones">
         <ul id="botoness">
            <li><div class="boton"><a href="/manada"><img src="/img/manada.png" alt=""></a></div></li>
            <li><div class="boton"><a href="/unidad"><img src="/img/manada.png" alt=""></a></div></li>
            <li><div class="boton"><a href="/caminantes"><img src="/img/manada.png" alt=""></a></div></li>
            <li><div class="boton"><a href="/rovers"><img src="/img/manada.png" alt=""></a></div></li>
        </ul>
    </div>
</main>