<main></main>
        <section class="banner">
            <img src="/img/Manada.png" alt="Logo Lobatos y Lobeznas">
            <h1>El mundo de la fantasía y los juegos te están llamando</h1>
            <h2>Lobatos y Lobeznas: 7 a 11 años</h2>
        </section>
        <section class="content">
            <div class="activities">
                <input type="text" placeholder="Buscar...">
                <div class="buttons">
                    <a href="/manada"><button>📄</button></a>
                    <button>Agregar</button>
                </div>
                <ul>
                    <li>Campamento 15/06/2024</li>
                    <li>Actividad 08/06/2024</li>
                    <li>Salida al Museo 01/06/2024</li>
                </ul>
            </div>
            
        </section>
</main>
