<main class="profile-container" id="fondo3">
    
        <section class="profile-left">
            <div class="profile-picture">
                <img src="/img/ImagenDeUsuario.png" alt="Foto de perfil" />
            </div>
            <button class="edit-profile">
                Editar perfil <img src="/img/lapiz.png" alt="Editar" />
            </button>
            <h2>Documentos</h2>
            <ul>
                <li>Autorización Salidas cercanas</li>
                <li>Autorización de Uso de Imagen</li>
                <li>Legajo</li>
                <li>Ficha Médica</li>
            </ul>
        </section>

        <section class="profile-right">
            <h3>Relación:</h3>
            <p>Diaz Franco Luciano</p>
            <p>Diaz Franco Maximiliano</p>

            <h3>Último pago realizado:</h3>
            <p>Sábado, 29/06/2024 (Total 15.000$)</p>
            <p>Mes: Junio</p>
        </section>
    </main>
