
<main id="fondos2">
    <div class="container">
        <h1>Planilla de Riesgos</h1>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="fecha">Fecha de la actividad:</label>
                <input type="date" id="fecha" name="fecha" required>
            </div>

            <div class="form-group">
                <label for="lugar">Lugar de la actividad:</label>
                <input type="text" id="lugar" name="lugar" required>
            </div>

            <div class="form-group">
                <label for="beneficiarios">Cantidad de beneficiarios:</label>
                <input type="number" id="beneficiarios" name="beneficiarios" min="1" required>
            </div>

            <div class="form-group">
                <label for="educadores">Cantidad de educadores:</label>
                <input type="number" id="educadores" name="educadores" min="1" required>
            </div>

            <div class="form-group">
                <label for="responsable">LM a cargo de la actividad:</label>
                <input type="text" id="responsable" name="responsable" required>
            </div>

            <div class="form-group">
                <label for="seguridad">Elementos de seguridad involucrados:</label>
                <input type="text" id="seguridad" name="seguridad" required>
            </div>

            <div class="form-group">
                <label for="accidente">Accidente sucedido:</label>
                <div class="accidente-options">
                    <input type="checkbox" id="golpe" name="accidente" value="Golpe/Lastimadura">
                    <label for="golpe">Golpe/Lastimadura</label><br>

                    <input type="checkbox" id="quemaduras" name="accidente" value="Quemaduras">
                    <label for="quemaduras">Quemaduras</label><br>

                    <input type="checkbox" id="fracturas" name="accidente" value="Fracturas">
                    <label for="fracturas">Fracturas</label><br>

                    <input type="checkbox" id="otros" name="accidente" value="Otros">
                    <label for="otros">Otros:</label><br>
                    <input type="text" id="otros_accidente" name="otros_accidente" placeholder="Especifique el accidente">
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</main>

