    <main id="fondos2" >
        <div class="container1">
            <div class="item" id="imagenes">
                <img src="/img/nosotros1.png" alt="Midgar">
            </div>
            <div class="item" id="textos">
                <p>Midgar es una aplicación web creada con el propósito de ayudar a todos los hermanos Scout en la gestión eficiente de sus actividades diarias. Esta plataforma está diseñada para simplificar el registro de  documentos, usuarios, actividades, cuotas, y muchas otras funciones, brindando una mejor organización y claridad en la información introducida.</p>
            </div>

       
    </main>
