<main class="recuperar-main">
  <div class="recuperar-container">
    <!-- Sección del logo -->
    <div class="recuperar-logo-section">
      <img src="/img/FlorScout.png" alt="Logo Scout" class="recuperar-logo-img">
    </div>

    <!-- Sección del formulario de recuperación de contraseña -->
    <div class="recuperar-card">
      <h1 class="recuperar-title">Recupera tu cuenta</h1>
      <p class="recuperar-text">Ingresa tu correo electrónico o teléfono y te enviaremos un enlace para que recuperes el acceso a tu cuenta.</p>
      <form class="recuperar-form">
        <input type="text" placeholder="Número de móvil o correo electrónico" class="input-field-recuperar">
        <div class="recuperar-buttons">
          <button type="button" class="recuperar-button-cancel">Cancelar</button>
          <button type="submit" class="recuperar-button-submit">Buscar</button>
        </div>
      </form>
      <hr class="recuperar-divider">
      <a href="/registro" class="recuperar-create-account">Registrarse</a>
      <a href="/inicio_Secion" class="recuperar-back-to-login">Volver al inicio de sesión</a>
    </div>
  </div>
</main>
