<main class="register-main">
  <div class="background-fondo"></div>
  <div class="register-container">
    <section class="logo-section">
      <img src="/img/FlorScout.png" alt="Logo Midgar" class="logo-image">
    </section>
    <section class="register-card">
      <h1 id="tipografia" class="register-title">Crea tu cuenta</h1>
      <form id="registro-form" class="registro-form">
        <input type="text" id="user" class="input-registro" placeholder="Nombre de usuario">
        <input type="text" id="registro" class="input-registro" placeholder="Correo Electrónico">
        <input type="password" id="email" class="input-registro" placeholder="Contraseña">
        <button id="tipografia" type="submit" class="register-button">Registrarte</button>
      </form>
      <p class="error escondido">Error al Registrarse</p>
      <p class="already-account">¿Tienes una cuenta? <a href="/inicio_secion">Ingresar</a></p>
    </section>
  </div>
</main>