<main class="register-main">
  <div class="background-fondo"></div>
  <div class="register-container">
    <section class="logo-section">
      <img src="/img/FlorScout.png" alt="Logo Midgar" class="logo-image">
    </section>
    <section class="register-card">
      <h1 id="tipografia" class="register-title">Crea tu cuenta</h1>
      <form class="register-form">
        <div class="input-group">
          <input type="text" class="input-registro" id="imput_solos" placeholder="Nombre">
          <input type="text" class="input-registro"
          id="imput_solos" placeholder="Apellido">
        </div>
        <input type="email" class="input-registro" placeholder="Numero de móvil o correo electrónico">
        <input type="password" class="input-registro" placeholder="Contraseña nueva">
        <input type="password" class="input-registro" placeholder="Confirmar Contraseña">
        <div class="input-group">
          <input type="number" 
          id="imput_solos" class="input-registro" placeholder="25">
          <input type="text" 
          id="imput_solos" class="input-registro" placeholder="junio">
          <input type="number" 
          id="imput_solos" class="input-registro" placeholder="2024">
        </div>
        <button id="tipografia" type="submit" class="register-button">Registrarte</button>
      </form>
      <p class="already-account">¿Tienes una cuenta? <a href="/inicio_secion">Ingresar</a></p>
    </section>
  </div>
</main>
