<main class="reset-password-main">
  <div class="reset-password-container">
    <h1 class="reset-password-title">Restablecer tu contrase単a</h1>
    {{#if error}}
      <p class="error-message">{{error}}</p>
    {{/if}}
    {{#if success}}
      <p class="success-message">{{success}}</p>
    {{/if}}
    <form action="/reset_password/{{token}}" method="POST" class="reset-password-form">
      <input type="password" name="password" placeholder="Nueva contrase単a" class="input-field-reset-password" required>
      <input type="password" name="confirm_password" placeholder="Confirmar nueva contrase単a" class="input-field-reset-password" required>
      <button type="submit" class="reset-password-button">Restablecer contrase単a</button>
    </form>
  </div>
</main>
