<main>
        <section class="banner3">
            <img src="/img/logorovers.png" alt="Rovers" class="img-border3">
            <h1>El servicio, ayudar a los demás, el trabajo en comunidad y llevar a cabo grandes proyectos.</h1>
            <h2>rovers: 17 a 22 años</h2>
        </section>
        </section>
        <section class="content1">
        <div class="activities">
            <input type="text" placeholder="Buscar...">
        <div class="buttons">
        <label for="pdfUploader" id="boton4" class="upload-label-uni icon-button">
            <i class="fa-solid fa-file-pdf"></i> Cargar PDF
        </label>
        <input type="file" id="pdfUploader" name="pdfs" accept="application/pdf" multiple />
        <a href="/planilla_riesgo"><button id="boton4" class="icon-button"><i class="fa-solid fa-file"></i> Planilla de Riesgo </button>
        <a href="/listaRovers"> <button id="boton4" class="icon-button"> <i class="fa-solid fa-user"></i> Miembros </button>
        </a>
        </div>
    <ul id="pdf-list"></ul>
    <div id="status" class="status-message"></div>
</div>

<!-- Formulario oculto -->
<form id="uploadForm" enctype="multipart/form-data" style="display: none;">
    <input type="file" id="pdfUploaderHidden" name="pdfs" accept="application/pdf" multiple />
</form>               
            
</section>
</main>
