<main>
        <section class="banner3">
            <img src="/img/logorovers.png" alt="Rovers" class="img-border3">
            <h1>El servicio, ayudar a los demás, el trabajo en comunidad y llevar a cabo grandes proyectos.</h1>
            <h2>rovers: 17 a 22 años</h2>
        </section>
        <section class="content3">
            <div class="activities3">
                <input type="text" placeholder="Buscar...">
                <div class="buttons3">
                    <button>📄</button>
                    <button>👥</button>
                    <button><a href="https://docs.google.com/forms/d/e/1FAIpQLSfBPkCSDpTEHuunePnQk79gbh8LSsgpihL8QsdL7hnZh9vqug/viewform?usp=sf_link " target="_blank">Agregar Planilla de Riesgo</a></button>
                </div>
                <ul>
                    <li>Campamento 15/06/2024</li>
                    <li>Actividad 08/06/2024</li>
                    <li>Salida al Museo 01/06/2024</li>
                    <li>Actividad 25/05/2024</li>
                    <li>Actividad 18/05/2024</li>
                    <li>Acantonamiento 11/05/2024</li>
                    <li>Planilla de riesgo 11/05/2024</li>
                </ul>
            </div>
            
        </section>
</main>
