<main id="fondo">
    <div class="container;">
        <div id="circulo">
            <p>MIDGAR</p>
        </div>
    </div>
    <div class="botones">
         <ul id="botoness">
            <li><div class="boton"><img src="/img/LOGOMANADA.png" alt=""></div></li>
            <li><div class="boton"><img src="/img/LOGOMANADA.png" alt=""></div></li>
            <li><div class="boton"><img src="/img/LOGOMANADA.png" alt=""></div></li>
            <li><div class="boton"><img src="/img/LOGOMANADA.png" alt=""></div></li>
        </ul>
    </div>
</main>