.banner2 {
    text-align: center;
    padding: 20px;
    background-color: #2d75e2;
}

.banner2 img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.banner2 h1, .banner2 h2 {
    margin: 10px 0;
}

.content2{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.activities2{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
    width: 80%;
}

.activities2 input, .members input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.activities2 .buttons2, .members button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.activities2 .buttons2 button, .members button {
    padding: 10px 15px;
    border: none;
    background-color: #2d75e2;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.activities2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.activities2 ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.logo {
    position:absolute;
    top: 0px; 
    right: 1300px; 
    width: 40px; 
}


.icon-button-alt:hover {
    background-color: #2d75e2; /* Hover verde más oscuro */
}

.upload-label-uni {
    padding: 10px;
    font-size: 16px;
    background-color: #2d75e2;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#boton3{
    background-color: #2d75e2;
}
#boton3:hover {
    background-color: #2d75e2; /* Fondo más oscuro al hacer hover */
    color: white; /* Texto blanco al hacer hover */
}