body {
    margin: 0;
    padding: 0;
}
#fondo{
    background-image: url('/img/scoutfondo.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que el fondo cubra toda la ventana */
    display: flex; /* Centrar contenido dentro del main */
    flex-direction: column; /* Asegura que los elementos se coloquen uno debajo del otro */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
};
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#circulo {
    width: 18rem;
    height: 5.6rem;
    background: rgb(142,15,15);
    background: linear-gradient(0deg, rgba(142,15,15,1) 59%, rgba(233,86,86,1) 100%);
    border-radius: 30% / 100%; /* Redondea los lados del elemento para crear un cilindro */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19rem;
}

#circulo p {
    margin: 0;
    font-size: 4.2rem; /* Tamaño de la fuente basado en rem */
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0.5rem;
}
.botones {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 3rem;
}

#botoness {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Alinea los elementos en fila */
    gap: 8rem; /* Espacio entre los círculos */
    padding: 0; /* Elimina el padding de la lista */
    margin: 0; /* Elimina el margin de la lista */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegura que la imagen no salga del contenedor */
}

.boton {
    width: 8rem; /* Ajusta el tamaño del círculo */
    height: 8rem; /* Ajusta el tamaño del círculo */
    background: rgb(142,15,15);
    background: linear-gradient(0deg, rgba(142,15,15,1) 59%, rgba(233,86,86,1) 100%);
    border-radius: 50%; /* Hace el elemento circular */
}
.boton img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
    object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor sin distorsionarse */
    border-radius: 50%; /* Hace que la imagen sea circular como el contenedor */
}


