#fondo3 {
    background-image: url('/img/FondoAzulYRojo.png');
    background-size: cover; /* Ajusta la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Cambia a min-height para permitir expansión en pantallas más pequeñas */
   
    
    
  }
  


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}


h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px 0;
    
}

.profile-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    height: calc(100vh - 100px); /* Ajusta el alto para incluir el header */
    align-items: flex-start;
}

.profile-left, .profile-right {
    width: 45%;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.profile-picture img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.edit-profile {
    background-color: transparent;
    border: none;
    color: rgb(230, 230, 230);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.edit-profile img {
    width: 30px;
    margin-left: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin: 10px 0;
}

.profile-right h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-right p {
    font-size: 18px;
    margin: 5px 0;
}
