/* Estilos para el main */
.recuperar-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/img/FondoAzulYRojo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #162347;
}

/* Contenedor principal */
.recuperar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 75rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
}

/* Sección del logo */
.recuperar-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 25rem;
}

.recuperar-logo-img {
    width: 10rem;
    height: 10rem;
}

/* Card de recuperación */
.recuperar-card {
    flex: 1;
    max-width: 25rem;
    background-color: #7e0a0a;
    padding: 2rem;
    border-radius: 0.9375rem;
    text-align: center;
    color: #fff;
}

/* Título y descripción */
.recuperar-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 500;
}

.recuperar-text {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

/* Input de recuperación */
.input-field-recuperar {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 1.25rem;
    font-size: 1rem;
}

/* Botones de recuperación */
.recuperar-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.recuperar-button-cancel,
.recuperar-button-submit {
    width: 45%;
    padding: 0.75rem;
    background-color: #fff;
    color: #7e0a0a;
    border: none;
    border-radius: 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 500;
}

.recuperar-button-submit {
    background-color: #000;
    color: #fff;
}

/* Divider y enlaces */
.recuperar-divider {
    border: 1px solid #fff;
    margin: 1rem 0;
}

.recuperar-create-account,
.recuperar-back-to-login {
    display: block;
    margin-top: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

.recuperar-create-account:hover,
.recuperar-back-to-login:hover {
    text-decoration: underline;
}
