.banner3 {
    text-align: center;
    padding: 20px;
    background-color: #f14545;
}

.banner3 img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.banner3 h1, .banner3 h2 {
    margin: 10px 0;
}

.content3{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.activities3{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
    width: 80%;
}

.activities3 input, .members input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.activities3 .buttons3, .members button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.activities3 .buttons3 button, .members button {
    padding: 10px 15px;
    border: none;
    background-color: #f14545;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.activities3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.activities3 ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.logo {
    position:absolute;
    top: 0px; 
    right: 1300px; 
    width: 40px; 
}
.img-border3{
    border: 0.2rem solid #ab3535;
}