.banner1 {
    text-align: center;
    padding: 20px;
    background-color: #068002;
}

.banner1 img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.banner1 h1, .banner1 h2 {
    margin: 10px 0;
}

.content1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.activities1 {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.activities1 input, .members input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon-button-alt {
    padding: 10px;
    background-color: #068002; /* Fondo verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.icon-button-alt i {
    margin-right: 5px;
    font-size: 1.3rem;
}

.icon-button-alt:hover {
    background-color: #045a02; /* Hover verde más oscuro */
}

.upload-label-uni {
    padding: 10px;
    font-size: 16px;
    background-color: #068002;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.img-border2 {
    border: 0.2rem solid #296c26;
}


/* Estilo exclusivo para el botón "Planilla de Riesgo" usando el ID */
#planillaRiesgoButton {
    background-color: #068002; /* Fondo verde */
    color: black; /* Texto negro */
    border: 2px solid #068002; /* Borde verde oscuro */
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}



