<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/img/flor scout 1.png" alt="" style="width: 3.1rem; height: auto; max-height: 100%;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/src/views/index.hbs">Inicio</a>
        </li>
        <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRamas" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ramas</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownRamas">
                <li><a class="dropdown-item" href="#">Manada</a></li>
                <li><a class="dropdown-item" href="#">Unidad</a></li>
                <li><a class="dropdown-item" href="#">Caminantes</a></li>
                <li><a class="dropdown-item" href="#">Rovers</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsuarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsuarios">
                <li><a class="dropdown-item" href="#">Ingresar</a></li>
                <li><a class="dropdown-item" href="#">Buscar</a></li>
                <li><a class="dropdown-item" href="#">Actualizar</a></li>              
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Documentacion">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPerfilLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownPerfilLink">
                <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                <li><a class="dropdown-item" href="#">Documentos</a></li>
                <li><a class="dropdown-item" href="#">Pagos</a></li>
                <li><a class="dropdown-item" href="#">Aspecto</a></li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Crear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">Listar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>