<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index"><img src="/img/flor scout.png" alt="" style="width: 3.1rem; height: auto; max-height: 100%;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Inicio</a>
        </li>
        <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRamas" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ramas</a>
            <ul class="dropdown-menu text-center bg-dark" aria-labelledby="navbarDropdownRamas">
                <li><a class="dropdown-item bg-dark text-light" href="/manada">Manada</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="/unidad">Unidad</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="/caminantes">Caminantes</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="/rovers">Rovers</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownUsuarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
            <ul class="dropdown-menu text-center bg-dark" aria-labelledby="navbarDropdownUsuarios">
                <li><a class="dropdown-item bg-dark text-light" href="/add">Ingresar</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="/list">Listar</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="/edit">Editar</a></li>              
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPerfilLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</a>
            <ul class="dropdown-menu text-center bg-dark" aria-labelledby="navbarDropdownPerfilLink">
                <li><a class="dropdown-item bg-dark text-light" href="#">Mi Perfil</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="#">Documentos</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="#">Pagos</a></li>
                <li><a class="dropdown-item bg-dark text-light" href="#">Aspecto</a></li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inicio_secion">inicio secion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>